.forms {
  display: flex;
  flex-direction: column;

  &__button {
    width: 20em;
    padding: 1rem;
    margin: 1rem auto;
  }
}
.somatotype__item {
  input {
    padding: 1px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgb(143, 245, 143);
    width: 15%;
    text-align: center;
  }

}
// .blinking {
//   background: lime;
//   line-height: 17px;
//   margin-left: 3px;
//   -webkit-animation: blink 0.8s infinite;
//   width: 7px;
//   height: 15px;
// }
// @-webkit-keyframes blink {
//   0% {background: #222}
//   50% {background: lime}
//   100% {background: #222}
// }
