<main class="main">
  <h2 class="main__title">edit patient</h2>
  <form [formGroup]="editPatientForm" class="forms">
    <section class="patient-card">
      <ul class="patient-card__list">
        <li class="list__item">
          <span class="iconify" data-icon="ant-design:user-outlined" data-inline="false"></span>
          <input type="text" class="editable-input" placeholder="firstName" formControlName="firstName">
          <input type="text" class="editable-input" placeholder="lastName" formControlName="lastName">
        </li>
        <li class="list__item">
          <span class="iconify" data-icon="carbon:email" data-inline="false"></span>
          <input type="text" class="editable-input editable-input--email" placeholder="email" formControlName="email">
        </li>
        <li class="list__item">
          <span class="iconify" data-icon="teenyicons:id-outline" data-inline="false"></span>
          <input type="text" class="editable-input" placeholder="idCard" formControlName="idCard">
        </li>
        <li class="list__item">
          <span class="iconify" data-icon="clarity:phone-handset-line" data-inline="false"></span>
          <input type="text" class="editable-input" placeholder="phone" formControlName="phone">
        </li>
        <li class="list__item">
          <span class="iconify" data-icon="cil:birthday-cake" data-inline="false"></span>
          <input type="text" class="editable-input" placeholder="birthDate" formControlName="birthdate">
        </li>
        <li class="list__item">
          <span class="iconify" data-icon="icons8:finish-flag" data-inline="false"></span>
          <select formControlName="goal" (change)="goalChanged($event)" class="main-select patient-select">
            <option *ngFor="let value of goals" [value]="value">{{value}}</option>
          </select>
        </li>
      </ul>
      <img alt=patient.name [src]="picture" class="profile-picture" />
    </section>
    <section class="somatotype">
      <h3 class="secondary-title">somatotype</h3>
      <ul class="somatotype__list">
        <li class="somatotype__item somatotype__item--orange">
          <span class="bolder">BMI: </span>
          <input type="text" class="editable-input" placeholder="bmi" formControlName="bmi">
        </li>
        <li class="somatotype__item somatotype__item--orange">
          <span class="bolder">Weight: </span>
          <input type="text" class="editable-input" placeholder="weight" formControlName="weight">
        </li>
        <ng-container formGroupName="perimeter">
          <li class="somatotype__item">
            <span class="bolder">Biceps: </span>
            <input type="text" class="editable-input" placeholder="biceps" formControlName="biceps">
          </li>
          <li class="somatotype__item">
            <span class="bolder">Shoulders: </span>
            <input type="text" class="editable-input" placeholder="shoulders" formControlName="shoulders">
          </li>
          <li class="somatotype__item">
            <span class="bolder">Back: </span>
            <input type="text" class="editable-input" placeholder="back" formControlName="back">
          </li>
          <li class="somatotype__item">
            <span class="bolder">Wist: </span>
            <input type="text" class="editable-input" placeholder="wist" formControlName="wist">
          </li>
          <li class="somatotype__item">
            <span class="bolder">Quadriceps: </span>
            <input type="text" class="editable-input" placeholder="quadriceps" formControlName="quadriceps">
          </li>
        </ng-container>
        <li class="somatotype__item">
          <span class="bolder">Height: </span>
          <input type="text" class="editable-input" placeholder="height" formControlName="height">
        </li>
      </ul>
    </section>
    <h3 class="secondary-title">diet</h3>
    <select (change)="changeDiet($event)" class="main-select">
      <option *ngFor="let diet of diets" [value]="diet._id">{{diet.type}}</option>
    </select>
    <ng-container *ngIf="selectedDiet">
      <div class="Rtable Rtable--3cols Rtable--collapse">
        <div class="Rtable-cell Rtable-cell--head">
            <h4>06:00 - 08:00</h4>
        </div>
        <div class="Rtable-cell Rtable-cell--title">breakfast</div>
        <div class="Rtable-cell">{{selectedDiet.breakfast}}</div>
        <div class="Rtable-cell Rtable-cell--head">
            <h4>10:00 - 11:00</h4>
        </div>
        <div class="Rtable-cell Rtable-cell--title">mid day</div>
        <div class="Rtable-cell">{{selectedDiet.midday}}</div>
        <div class="Rtable-cell Rtable-cell--head">
            <h4>13:00 - 15:00</h4>
        </div>
        <div class="Rtable-cell Rtable-cell--title">lunch</div>
        <div class="Rtable-cell ">{{selectedDiet.lunch}}</div>
        <div class="Rtable-cell Rtable-cell--head">
            <h4>17:00 - 18:00</h4>
        </div>
        <div class="Rtable-cell Rtable-cell--title">snack</div>
        <div class="Rtable-cell">{{selectedDiet.snack}}</div>
        <div class="Rtable-cell Rtable-cell--head">
            <h4>20:00 - 21:00</h4>
        </div>
        <div class="Rtable-cell Rtable-cell--title">dinner</div>
        <div class="Rtable-cell">{{selectedDiet.dinner}}</div>
    </div>
  </ng-container>
        <button class="buttons forms__button" type="button" [disabled]="editPatientForm.invalid" (click)="save()">save</button>
        <button class="buttons forms__button" type="button" (click)="cancel()">cancel</button>

    </form>
</main>
