.forms {
  display: flex;
  flex-direction: column;

  &__button {
    width: 20em;
    padding: 1rem;
    margin: 1rem auto;
  }

  .patient-select {
    margin: auto;
  }
  .editable-input{
    padding: 1px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgb(143, 245, 143);
    text-align: center;

    &--email {
      width: 15rem;
    }
  }

  .somatotype__item > input {
    width: 15%;
  }
}

