@import './../../../assets/styles/global/mixins.scss';

.forms {
  @include flex-configuration(null, null, column);

  &__button {
    @include size-configuration(20rem, null);
      padding: 1rem;
      margin: 1rem auto;
  }

  .patient-select {
    margin: auto;
  }
  .editable-input{
    padding: 1px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgb(143, 245, 143);
    text-align: center;

    &--email {
    @include size-configuration(15rem, null);
    }
  }

  .somatotype__item > input {
    @include size-configuration(15%, null);
  }
}

