<main>
    <h2 class="main-title">Today's patients</h2>
    <div *ngIf="appointments.length else noAppointments">
        <ul class="appointments">
            <li *ngFor="let appointment of appointments">
                <a routerLink="/detail/{{appointment.patient._id}}">
                    <span class="badge">{{appointment.patient.firstName}}</span> <p>{{appointment.patient.lastName}}</p>
                </a>
            </li>
        </ul>
    </div>
    <ng-template #noAppointments>
        <div>No appointments</div>
       </ng-template>
</main>
