<app-nav-bar></app-nav-bar>
<main class="main">
    <h2 class="main__title">Today's patients</h2>
    <div *ngIf="appointments.length else noAppointments">
        <ul class="appointments">
            <li *ngFor="let appointment of appointments" class="appointments__item">
                <a routerLink="/detail/{{appointment.patient._id}}">
                    <span class="badge">{{appointment.patient.firstName}} {{appointment.patient.lastName}}</span>
                    <span>{{appointment.time}}</span>
                </a>
            </li>
        </ul>
    </div>
    <ng-template #noAppointments>
        <div>No appointments</div>
    </ng-template>
</main>
