@import './../../styles/global/colors.scss';

.appointments {
    margin: 0 auto;
    width: 70%;
    &__item {
        background-color: $color-secondary;
        border: solid 1px rgb(209, 209, 209);
        border-radius: 15px;
        font-size: 1.5rem;
        margin-bottom: 0.7rem;
        padding: 1rem;
        a {
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
        
    }
    &__item:hover {
       background-color: rgba(226, 229, 239, 0.6); 
    }
}