@import './../../../assets/styles/global/colors.scss';
@import './../../../assets/styles/global/mixins.scss';

.search-container {
    display: flex;
    @include size-configuration(55rem, 3rem);
    margin: 2rem auto;
    &__search-bar {
      @include size-configuration(85%, 3rem);
        border: 1px solid $border-color-main;
        border-right: none;
        border-bottom-left-radius: 1.5rem;
        border-top-left-radius: 1.5rem;
        padding: 1rem 2rem;
    }

    button {
      @include size-configuration(15%, 3rem);
        border: 1px solid $border-color-main;
        border-left: none;
        border-bottom-right-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
        .iconify {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}

.patients {
  @include size-configuration(70%, null);
    margin: 0 auto;
    &__item {
        background-color: $color-secondary;
        border: solid 1px rgb(209, 209, 209);
        border-radius: 15px;
        font-size: 1.5rem;
        margin-bottom: 0.7rem;
        padding: 1rem;
        a {
          @include flex-configuration(space-between, null, null);
          @include size-configuration(100%, null);
            padding: 0 10rem;

            img {
              @include size-configuration(auto, 5rem);
                object-fit: cover;
                border-radius: 1rem;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }

            .patient-info {
              @include flex-configuration(null, null, column);
            }
        }
        &:hover {
           background-color: rgba(226, 229, 239, 0.6);
        }
    }
}
