@import './../assets/styles/global/colors.scss';

.main {
    min-height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100vw - 9.70rem);
    &__title {
        align-items: center;
        background-color: $background-color-secondary;
        border: solid 1px $border-color-main;
        border-radius: 1.25rem;
        color: $color-secondary;
        display: flex;
        height: 3.43rem;
        justify-content: center;
        margin: 2rem auto;
        width: 55rem;
    }
}

.secondary-title {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 2rem auto;
    height: 3rem;
    width: 50rem;
    border-radius: 1.5rem;
    border: solid 1px $color-secondary;
    color: $color-secondary-title;
    background-color: $background-color-secondary-title;
}

.bolder {
    font-weight: bold;
}

