@import './../../../assets/styles/global/colors.scss';
@import './../../../assets/styles/global/mixins.scss';

.login {
  background-color: $background-color-login;
  min-height: 100vh;
  width: 100vw ;
  @include flex-configuration(center, center, null);
}

.login__list {
  @include flex-configuration(center, center, column);
  @include size-configuration(25rem, 30rem);
  padding: 2rem;
  background-color: white;
  border-radius: 15px;
}

.list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  .logo {
    @include size-configuration(6rem, 6rem);
  }
  .iconify {
    margin-left: 3px;
  }
  input {
    border: solid 1px $color-secondary-title;
    border-radius: 5px;
    padding: 1rem;
    margin-left: 0.5rem;
    @include size-configuration(10rem, 2rem);
    &:focus {
      outline: none;
      border: solid 1px gray
    }
  }
  &--button {
    button {
      margin-top: 1rem;
      padding: 10px;
      width: 10rem;
    }
  }
}
