@import './../../styles/global/colors.scss';
.main-navigator {
    background-color: $background-color-secondary;
    height: 100%;
    position: fixed;
    width: 9.70rem;
    .navigator-list {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        height: 100%;
        list-style: none;
        &__item {
            align-items: center;
            border-bottom: solid 2px $color-secondary;
            display: flex;
            height: 6.25rem;
            justify-content: center;
            width: 100%;
            &--logo {
                background-color: $background-color-main;
                border-bottom: none;
                img {
                    height: 4rem;
                    width: 4rem;
                }
            }

            &--logout {
                border-bottom: none;
                flex-grow: 2;
                height: auto;
            }
            
        }

        .nav-icons {
            font-size: 2rem;
            color: $color-secondary; 
        }

    }

}