<nav class="main-navigator">
    <ul class="navigator-list">
        <li class="navigator-list__item navigator-list__item--logo">
            <a routerLink="/dashboard">
                <img class="logo" src="./../../../assets/ediet.svg" alt="eDiet" />
            </a>
        </li>
        <li class="navigator-list__item">
            <a routerLink="/search">
                <span class="iconify nav-icons" data-icon="el:list-alt" data-inline="false"></span>
            </a>
        </li>
        <li class="navigator-list__item">
            <a routerLink="/createPatient">
                <span class="iconify nav-icons" data-icon="akar-icons:person-add" data-inline="false"></span>
            </a>
        </li>
        <li class="navigator-list__item navigator-list__item--logout">
            <a (click)="logout()">
                <span class="iconify nav-icons" data-icon="ant-design:logout-outlined" data-inline="false"></span>
            </a>
        </li>
    </ul>
</nav>
