@import './../../../assets/styles/global/colors.scss';
@import './../../../assets/styles/global/mixins.scss';

.main-navigator {
    background-color: $background-color-secondary;
    @include size-configuration(9.70rem, 100%);
    position: fixed;
    .navigator-list {
      @include flex-configuration(null, null, column);
        cursor: pointer;
        @include size-configuration(null, 100%);
        list-style: none;
        &__item {
          @include flex-configuration(center, center);
          @include size-configuration(100%, 10rem);
            border-bottom: solid 2px $color-secondary;
            &--logo {
                background-color: $background-color-main;
                border-bottom: none;
                img {
                  @include size-configuration(4rem, 4rem);
                }
            }

            &--logout {
                border-bottom: none;
                flex-grow: 2;
                height: auto;
            }

        }

        .nav-icons {
            font-size: 2rem;
            color: $color-secondary;
        }

    }

}
