$background-color-main: #FFFFFF;
$background-color-secondary: #653A6A;
$color-main: rgb(36, 36, 36);
$color-secondary: #E2E5EF;
$color-secondary-important: #FFFFFF;
$border-color-main: #E2E5EF;
$background-color-secondary-title: #FCFBFE;
$color-secondary-title: #5E5E5E;
$background-color-secondary-important: #F07A4E;
$button-color: #A76BAE;
