<app-nav-bar></app-nav-bar>
<main class="main">
  <h2 class="main__title">new appointment</h2>
  <form [formGroup]="newAppointmentForm" class="new-appointment">
    <label class="new-appointment__label">
      <p>Date:</p>
      <input type="date" placeholder="Date" formControlName="date" (change)="onDateChange()">
    </label>
    <label class="new-appointment__label">
      <p>Time:</p>
      <select class="main-select" formControlName="time">
        <option *ngFor="let time of availableHours" [value]="time" (change)="changeTime($event)">{{time}}</option>
      </select>
    </label>
  </form>
  <button class="buttons forms__button new-patient-button" type="button" (click)="createAppointment()" [disabled]="newAppointmentForm.invalid">new appointment</button>
</main>
