
<main class="main">
    <h2 class="main__title">Patient Details</h2>
    <div class="search-container">
        <input type="text" class="search-container__search-bar" placeholder="Search patient..."/>
        <button type="button"><span class="iconify" data-icon="ant-design:search-outlined" data-inline="false"></span></button>
    </div>
    <section *ngIf="patient else noPatientSelected">
       <section class="patient-card">
           <ul class="patient-card__list list">
                <li class="list__item">
                    <span class="iconify" data-icon="ant-design:user-outlined" data-inline="false"></span>
                    <span>{{patient.firstName}} {{patient.lastName}}</span>
                </li>
                <li class="list__item">
                    <span class="iconify" data-icon="carbon:email" data-inline="false"></span>
                    <span>{{patient.email}}</span>
                </li>
                <li class="list__item">
                    <span class="iconify" data-icon="teenyicons:id-outline" data-inline="false"></span>
                    <span>{{patient.idCard}}</span>
                </li>
                <li class="list__item">
                    <span class="iconify" data-icon="clarity:phone-handset-line" data-inline="false"></span>
                    <span>{{patient.phone}}</span>
                </li>
                <li class="list__item">
                    <span class="iconify" data-icon="cil:birthday-cake" data-inline="false"></span>
                    <span>{{birthDate}}</span>
                </li>
                <li class="list__item">
                    <span class="iconify" data-icon="icons8:finish-flag" data-inline="false"></span>
                    <span>{{patient.goal}}</span>
                </li>
                <li class="list__item">
                    <span class="iconify" data-icon="clarity:calendar-line" data-inline="false"></span>
                    <span>Last: </span> <span>{{lastVisit}}</span> <span>Next: </span> <span>{{nextVisit}}</span>
                </li>
           </ul>
           <img alt="patient.name" [src]="transform()" className="profile-picture" />
       </section>
    </section>
    <ng-template #noPatientSelected>
        <section>No patient selected</section>
    </ng-template>
</main>