@import './../../../assets/styles/global/colors.scss';
@import './../../../assets/styles/global/mixins.scss';

.patient-card {
  @include flex-configuration(space-around, center);
  @include size-configuration(60%, null);
    margin: 1rem auto;
    &__list {
      @include flex-configuration(unset, baseline, column);
        .list__item {
          @include flex-configuration(unset, baseline);
            margin-bottom: 0.5rem;
            .iconify {
                margin-right: 0.5rem;
            }
        }
    }

    .profile-picture {
      @include size-configuration(auto, 10rem);
        object-fit: cover;
        border-radius: 1rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.somatotype {
  @include flex-configuration(center, center, column);
    &__list {
      @include flex-configuration(center);
      @include size-configuration(50%, null);
        flex-wrap: wrap;
    }
    &__item {
      @include flex-configuration(space-around, center, null);
      @include size-configuration(46%, 3rem);
        background-color: $color-secondary;
        padding: 10px;
        border-radius: 2rem;
        margin: 10px;
        &--orange {
            background-color: $background-color-secondary-important;
            color: $color-secondary-important;
        }
    }
}

.patient-buttons {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  button {
    margin: 0.5em 0;
    padding: 0.2rem 1rem;
    width: 100%;
  }
}

.Rtable {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    width: 50rem;
  }
  .Rtable-cell {
    box-sizing: border-box;
    flex-grow: 1;
    width: 100%;
    padding: 0.8em 1.2em;
    overflow: hidden;
    list-style: none;
    border: solid 3px white;
    background-color: $color-secondary;
    > h1, > h2, > h3, > h4, > h5, > h6 { margin: 0; }
    &--title {
        text-align: center;
        background-color: $background-color-secondary-important;
        color: $color-secondary-important;
    }
  }
  .Rtable--3cols > .Rtable-cell  { width: 33.33%; }

@media all and (max-width: 500px) {
.Rtable--collapse  {
    display: block;
    > .Rtable-cell { width: 100% !important; }
    > .Rtable-cell--foot { margin-bottom: 1em; }
}
}

.no-flexbox .Rtable {
display: block;
> .Rtable-cell { width: 100%; }
> .Rtable-cell--foot { margin-bottom: 1em; }
}
